efficientnet_pytorch==0.7.1
GPUtil==1.4.0
h5py==3.2.1
numpy==1.17.4
opencv_python==4.5.4.60
pretrainedmodels==0.7.4
scikit_learn==1.0.2
torch==1.10.0
torchvision==0.11.1
wandb==0.15.9
polarTransform==2.0.0
torch-summary==1.4.5
